/* DARK MODE */
/* Change the color of the body background */
:is(html[class~="dark"] body) {
  --tw-bg-opacity: 1;
  background-color: black;
  --tw-text-opacity: 1;
  color: rgb(243 244 246 / var(--tw-text-opacity));
}

/* Change the backgroun of the navbar */
:is(html[class~="dark"] .nav-container-blur) {
    background-color: rgb(17 17 17 / 0%) !important;
}

/* Change the bottom of the hero view */
:is(html[class~="dark"] .dark\:bg-primary-600) {
    background: #141414d9;
    border-radius: 5px;
}

:is(html[class~="dark"] .dark\:hover\:bg-primary-700:hover) {
    --tw-bg-opacity: 1;
    background-color: hsl(11.6deg 35.6% 12.3%);
}

/* Change the border of the cards */
:is(html[class~="dark"] .dark\:border-neutral-800) {
    border-radius: 10px;
}

/* Change the foot background */
:is(html[class~="dark"] .dark\:bg-neutral-900) {
    background: #141414d9;
}

/* Change the border radius of the code block */
.content .code-block pre {
    border-radius: 10px;
}

/* Fix some border issues because of the black backdround */
:is(html[class~="dark"] .dark\:border-neutral-800) {
    background: black;
}
.code-block pre:not(.lntable pre) {
  border-radius: 5px;
}
:is(html[class~="dark"] .dark\:shadow-\[0_-12px_16px_\#111\]) {
    --tw-shadow: 0 -12px 16px #000;
}

/* Change the title font size and weight */
.font-extrabold {
    font-weight: 700;
    font-size: 1.3em;
}

/* LIGHT MODE */
/* Change the bottom of the hero view */
.bg-primary-600 {
    background: #141414d9;
    border-radius: 5px;
}
.hover\:bg-primary-700:hover {
    --tw-bg-opacity: 1;
    background-color: hsl(11.6deg 35.6% 12.3%);
}

/* Change the border of the cards */
.border-gray-200 {
    border-radius: 10px;
}